@page "/nueva-factibilidad2"
@* @using ProtelBlazorApp.Data // Reemplaza con tu namespace correcto *@
@inject NavigationManager Navigation
@inject ISnackbar Snackbar

<h3>Nuevo Estudio de Factibilidad</h3>
<button>prueba </button>


@code
{
    string nombreProyecto = "";
}